/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media  only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  /*and (-webkit-min-device-pixel-ratio: 1)*/
  {
.topTitleTextMain{
    font-size:50px;
}

.topTitleTextSub{
    font-size:40px;
}

.sets{
  font-size:24px;
  line-height:2;
}

.reps{
  font-size:12px;
  line-height:1.5;
}

.fitName{
  font-size:14px;
  text-indent: 18px;
}

.subSectionFitSub{
    font-size:9px;
}

.subSectionFitMain{
    font-size:14px;
}
.cellExercise{
  background-color:white;
}
#noteIcon{
    height:30px;
    width:30px;
    margin-top: 10px;
}

.fitNameH{
	width:49%;
	height: 65px;
	font-size:16px;
	font-weight: 400;
	float:left;
	text-indent: 30px;
	font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
	text-transform: uppercase;
  line-height: 4;
	}

.setsH{
	width:12%;
	height:100%;
	float:left;
	font-weight: bolder;
	font-size:16px;
	text-align: center;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
   line-height: 4;
	}

.repsH{
	width:18%;
	height:100%;
	float:left;
	font-weight: bolder;
	font-size:16px;
	text-align: center;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	font-weight: 400;
	font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
  line-height: 4;
  }

  .imgExercise{
    top:40%;
    height:67%;
  }
}

/* phone med size  481px-667px*/
@media  only screen
  and (min-device-width: 481px)
  and (max-device-width: 667px)
  /*and (-webkit-min-device-pixel-ratio: 2)*/
  {
.topTitleTextMain{
  font-size:50px;
}

.topTitleTextSub{
  font-size:40px;
}

.sets{
    font-size:24px;
    line-height:2;
}

.reps{
  font-size:18.5px;
}

.fitName{
    font-size:14px;
    line-height:;
    text-indent: 18px;
}

.subSectionFitSub{
    font-size:14px;
}

.subSectionFitMain{
    font-size:24px;
}

#noteIcon{
  height:30px;
  width:30px;
  margin-top: 10px;
}

.fitNameH{
	width:49%;
	height: 65px;
	font-size:24px;
	font-weight: 400;
	float:left;
	text-indent: 30px;
	font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
	text-transform: uppercase;
  line-height:3;

	}

.setsH{
	width:12%;
	height:100%;
	float:left;
	font-weight: bolder;
	font-size:24px;
	text-align: center;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
   line-height: 3;
	}

.repsH{
	width:18%;
	height:100%;
	float:left;
	font-weight: bolder;
	font-size:24px;
	text-align: center;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	font-weight: 400;
	font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
  line-height: 3;

  }

}


/*next set of phone med size 668 -812px */
/*next set of phone med size */
/* Portrait and Landscape */
@media  only screen
  and (min-device-width: 668px)
  and (max-device-width: 812px)
/*  and (-webkit-min-device-pixel-ratio: 2)*/
  {
.topTitleTextMain{
  font-size:50px;
}

.topTitleTextSub{
  font-size:40px;
}

.sets{
font-size:30px;
line-height:2;}

.reps{
  font-size:18.9px;
}

.fitName{
  font-size:14px;
  line-height:;
  text-indent: 18px;
}

.subSectionFitSub{
  font-size:14px;
}

.subSectionFitMain{
  font-size:30px;
}

#noteIcon{
  height:50px;
  width:50px;
  margin-top: 4px;
}

.fitNameH{
	width:49%;
	height: 65px;
	font-size:30px;
	font-weight: 400;
	float:left;
	text-indent: 30px;
	font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
	text-transform: uppercase;
  line-height:2.2;
	}

.setsH{
	width:12%;
	height:100%;
	float:left;
	font-weight: bolder;
	font-size:30px;
	text-align: center;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
   line-height: 2.2;
	}

.repsH{
	width:18%;
	height:100%;
	float:left;
	font-weight: bolder;
	font-size:30px;
	text-align: center;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	font-weight: 400;
	font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
  line-height: 2.2;

  }

}


/*next set of phone med size 813-2024px */
@media  only screen
  and (min-device-width: 813px)
  and (max-device-width: 2024px)
  /*and (-webkit-min-device-pixel-ratio: 2)*/
  {
.topTitleTextMain{
  font-size:50px;
}

.topTitleTextSub{
  font-size:40px;
}

.sets{
  font-size:40px;
  line-height:1.6;
}

.reps{
  font-size:17px;
  line-height:1.5;
}

.fitName{
  font-size:14px;
  text-indent: 18px;
}

.subSectionFitSub{
  font-size:14px;
}

.subSectionFitMain{
  font-size:30px;
  line-height:;
}

#noteIcon{
    height:50px;
    width:50px;
    margin-top: 4px;
}

.fitNameH{
	width:49%;
	height: 65px;
	font-size:34px;
	font-weight: 400;
	float:left;
	text-indent: 30px;
	font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
	text-transform: uppercase;
  line-height:2.1;
	}

.setsH{
	width:12%;
	height:100%;
	float:left;
	font-weight: bolder;
	font-size:34px;
	text-align: center;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
   line-height: 2.1;
	}

.repsH{
	width:18%;
	height:100%;
	float:left;
	font-weight: bolder;
	font-size:34px;
	text-align: center;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	font-weight: 400;
	font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
  line-height: 2.1;
  }
}
