body{
  margin:0;
  padding:0;
}

#container{
  width:100%;
  height:100%;
  background-color:red;
}

.mainMenu{
  width:100%;
  height:5%;
  background-color:purple;
}

.subMenu{
  width:100%;
  height:10%;
  background-color:orange;
}

.mainDisplay
{
  height:80%;
  width:100%;
  background-color:yellow;
}

.mapArea
{
  height:100%;
  width:65%;
  float:left;
  background-color:green;
}

.statusRight
{
  float:right;
  background-color:blue;
  height:100%;
  width:35%;
}

.statusRightStatus{
    clear:both;
    background-color:skyblue;
    height:40%;
    width:100%;
}
.statusRightSectionLeft{
-    background-color:pink;
    height:100%;
    width:50%;
float:left;}
.statusRightSectionRight{
    background-color:red;
    height:100%;
    width:50%;float:left;
}

.statusRightServerity
  {
    clear:both;
    background-color:navy;
    height:20%;
    width:100%;
  }

.statusRightServices
  {
    clear:both;
    background-color:royalblue;
    height:40%;
    width:100%;
  }
  .btn{
    height:20px;
    width:20px;
    display: box;
    margin:5px 2px  0px 2px;
    text-decoration: none;
  }
  .burger{
    height:60px;
    width:60px;
    display: box;
    margin:5px 2px 0px 2px;
    float:left;
  }
  .companyLogo{
    float:left;
    height:60px;
    width:120px;
    display:box;
    margin:5px 10px  0px 2px;
  }
  .leftSubBar{
    height:60px;
    width:40%;
    float:left;
  }
  .middleSubBar{
    height:60px;
    width:20%;
    float:left;
  }
  .rightSubBar{
    height:60px;
    width:40%;
    float:left;
    text-align:right;
  }

  .rightSubBarTop{
    height:20%;
    width:100%;
    text-align:left
  }

  .rightSubBarBottom{
    height:80%;
    width:100%;
  }

  .RightMenuBarTitleT{
    height:14px;
    width:100%;
    color:white;
    background-color: grey;
    font-size:12.5px;
    font-weight: bold;

  }
  .RightMenuBarTitleB{
    height:14px;
    width:100%;
    color:white;
    background-color: skyblue;
    font-size:12.5px;
    font-weight: bold;
  }
.RightMenuTop{
  height:50%;
  width:100%;
  background-color: brown;
}
.RightMenuBottom{
  height:50%;
  width:100%;
  background-color: tan;
}

.overAllStatus{
  height:14px;
  width:100%;
  color:skyblue;
  background-color: white;
  font-size:12.5px;
  font-weight: bold;
}
.classOf{
  height:33.3%;
  width:100%;
  backgroud-color:white;
}
.classOfTitle{
  width:30%;
  height:100%;
  font-size:12.5px;
  float:left;
}

.classOfColor{
  width:20%;
  height:100%;
  float:left;
}
.classOfStatusDots{
  width:50%;
  height:100%;
  float:left;
}
.statusDotRed{
  height:20px;width:20px;border-radius:50%;background-color:red;float:left;
}
.statusDotGreen{}
