                                                html {
                                                    height: 100%;
                                                }
                                                
                                                body {
                                                    min-height: 100%;
                                                    margin: 0;
                                                    padding: 0;
                                                    background-color: #f6f6f6
                                                }
                                                
                                                a {
                                                    text-decoration: none;
                                                }
                                                
                                                a:visited {}
                                                
                                                a:active {}
                                                
                                                a:hover {}
                                                
                                                .container {
                                                    width: 1024px;
                                                    min-width: 1024px;
                                                    height: 100%;
                                                }
                                                
                                                .leftMenu {
                                                    height: 100%;
                                                    width: 256px;
                                                    background: linear-gradient( lightgray, white);
                                                    background-color: ;
                                                    float: left;
                                                    position: relative;
                                                }
                                                
                                                .rightMain {
                                                    height: 100%;
                                                    width: 736px;
                                                    background-color: ;
                                                    background: #f6f6f6;
                                                    float: left;
                                                    position: relative;
                                                }
                                                
                                                .contactHolder {
                                                    height: 50px;
                                                    width: 100%;
                                                    border-bottom: 1px solid rgb(206, 206, 206);
                                                    background-color: white;
                                                    display: block;
                                                }
                                                
                                                .contactHolder:hover {
                                                    background-color: #f2f2f2;
                                                    color: red
                                                }
                                                
                                                .contactPhoto {
                                                    height: 45px;
                                                    width: 45px;
                                                    float: left;
                                                    border-radius: 50%;
                                                    padding: 3px;
                                                    padding-right: 13px;
                                                    padding-left: 13px;
                                                }
                                                
                                                .contactName {
                                                    width: 175px;
                                                    font-size: 18px;
                                                    font-weight: bolder;
                                                    font-family: Arial, Helvetica, sans-serif;
                                                    color: #434343;
                                                    float: left;
                                                    line-height: 2.6;
                                                }
                                                
                                                .contactName a:link {
                                                    color: #3C94ED;
                                                }
                                                
                                                .alphaMenu {
                                                    width: 32px;
                                                    height: 100%;
                                                    background-color: white;
                                                    color: red;
                                                    border-bottom: 1px solid grey;
                                                    float: left;
                                                    overflow: scroll;
                                                }
                                                
                                                .alphaMenuOpt {
                                                    height: 20px;
                                                    width: 100%;
                                                    background-color: ;
                                                    color: rgb(182, 182, 182);
                                                    text-align: center;
                                                    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
                                                    padding-bottom: 2.8px;
                                                }
                                                
                                                .alphaMenuOpt:hover {
                                                    color: #39c4ed;
                                                    font-weight: bolder;
                                                }
                                                
                                                .alphaMenuOpt:active {
                                                    text-decoration: none;
                                                }
                                                
                                                .alphaMenuOpt:vistied {
                                                    text-decoration: none;
                                                }
                                                
                                                .searchFirstNameSec {
                                                    height: 100px;
                                                    width: 100%;
                                                    min-width: ;
                                                    background: ;
                                                    background-color: ;
                                                    border: ;
                                                    color: ;
                                                    border-radius: ;
                                                    font-family: ;
                                                    font-weight: ;
                                                    margin: ;
                                                    margin-top: 36px;
                                                    padding: ;
                                                }
                                                
                                                .searchLastNameSec {
                                                    height: 100px;
                                                    width: 100%;
                                                    min-width: ;
                                                    background: ;
                                                    background-color: ;
                                                    border: ;
                                                    color: ;
                                                    border-radius: ;
                                                    font-family: ;
                                                    font-weight: ;
                                                    margin: ;
                                                    padding: ;
                                                }
                                                
                                                .searchPhoneSec {
                                                    height: 100px;
                                                    width: 100%;
                                                    min-width: ;
                                                    background: ;
                                                    background-color: ;
                                                    border: ;
                                                    color: ;
                                                    border-radius: ;
                                                    font-family: ;
                                                    font-weight: ;
                                                    margin: ;
                                                    padding: ;
                                                }
                                                
                                                .addUserSec {
                                                    height: 100px;
                                                    width: 100%;
                                                    min-width: ;
                                                    background: ;
                                                    background-color: ;
                                                    border: ;
                                                    color: ;
                                                    border-radius: ;
                                                    font-family: ;
                                                    font-weight: ;
                                                    margin: ;
                                                    padding: ;
                                                }
                                                
                                                .searchFirstName {
                                                    height: 100%;
                                                    width: 100%;
                                                    min-width: ;
                                                    background: ;
                                                    background-color: pink;
                                                    border: ;
                                                    color: ;
                                                    border-radius: ;
                                                    font-family: ;
                                                    font-weight: ;
                                                    margin: ;
                                                    padding: ;
                                                    margin-top: 35px;
                                                }
                                                
                                                .searchLastName {
                                                    height: 100%;
                                                    width: 100%;
                                                    min-width: ;
                                                    background: ;
                                                    background-color: skyblue;
                                                    border: ;
                                                    color: ;
                                                    border-radius: ;
                                                    font-family: ;
                                                    font-weight: ;
                                                    margin: ;
                                                    padding: ;
                                                }
                                                
                                                .searchPhone {
                                                    height: 100%;
                                                    width: 100%;
                                                    min-width: ;
                                                    background: ;
                                                    background-color: yellow;
                                                    border: ;
                                                    color: ;
                                                    border-radius: ;
                                                    font-family: ;
                                                    font-weight: ;
                                                    margin: ;
                                                    padding: ;
                                                }
                                                
                                                .mainTitle {
                                                    width: 100%;
                                                    text-align: center;
                                                    height: 53px;
                                                    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
                                                    font-weight: bold;
                                                    font-size: 32px;
                                                    color: #6c6c6c;
                                                    line-height: 2;
                                                }
                                                
                                                [id=SFN] {
                                                    background-color: white;
                                                    margin: 15px auto;
                                                    display: block;
                                                    height: 45px;
                                                    width: 339px;
                                                    padding: 0;
                                                    border-radius: 3px;
                                                    text-indent: 50px;
                                                    border: 1px solid lightgrey;
                                                    font-size: 24px;
                                                    background: url('search.png');
                                                    background-size: 32px;
                                                    background-repeat: no-repeat;
                                                    background-position: 1.5%, 0%;
                                                }
                                                
                                                [id=SFN]:hover {
                                                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                                                    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                                                    border: 1px solid #434343;
                                                }
                                                
                                                [id=SLN] {
                                                    background-color: white;
                                                    margin: 15px auto;
                                                    display: block;
                                                    height: 45px;
                                                    width: 339px;
                                                    padding: 0;
                                                    border-radius: 3px;
                                                    text-indent: 50px;
                                                    border: 1px solid lightgrey;
                                                    font-size: 24px;
                                                    background: url('search.png');
                                                    background-size: 32px;
                                                    background-repeat: no-repeat;
                                                    background-position: 1.5%, 0%;
                                                }
                                                
                                                [id=SLN]:hover {
                                                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                                                    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                                                    border: 1px solid #434343;
                                                }
                                                
                                                [id=SPN] {
                                                    background-color: white;
                                                    margin: 15px auto;
                                                    display: block;
                                                    height: 45px;
                                                    width: 339px;
                                                    padding: 0;
                                                    border-radius: 3px;
                                                    text-indent: 50px;
                                                    border: 1px solid lightgrey;
                                                    font-size: 24px;
                                                    background: url('phone.png');
                                                    background-size: 32px;
                                                    background-repeat: no-repeat;
                                                    background-position: 1.5%, 0%;
                                                }
                                                
                                                [id=SPN]:hover {
                                                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                                                    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                                                    border: 1px solid #434343;
                                                }